<a href="https://colab.research.google.com/github/swimbeginner/TensorFlow2/blob/main/Bigquery_12172020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
%%bigquery --project bigquerylearn121
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.samples.gsod`

   total_rows
0   114420316

In [ ]:
%load_ext google.colab.data_table

In [ ]:
# Save output in a variable `df`

%%bigquery --project bigquerylearn121 df
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.samples.gsod`

In [ ]:
df

   total_rows
0   114420316

#Big query learned ref to Kaggle

In [ ]:
project_id='bigquerylearn121'
print(project_id)

bigquerylearn121

In [ ]:
from google.cloud import bigquery
client=bigquery.Client(project=project_id)
sample_count=2000
row_count=client.query(''' #for SQL
  select count(*)as total
  from `bigquery-public-data.samples.gsod`
'''    
).to_dataframe().total[0]

In [ ]:
df=client.query('''
  select *
  from `bigquery-public-data.samples.gsod`
  where rand() <%d/%d
''' %(sample_count, row_count)).to_dataframe()

In [ ]:
#%load_ext google.colab.data_table
df.head()

   station_number  wban_number  year  month  ...   snow   hail  thunder  tornado
0          999999        14931  1965      3  ...   True   True     True     True
1          471270        43216  1975      7  ...  False  False    False    False
2          679910        99999  1982      2  ...  False  False    False    False
3          684533        99999  2009     12  ...  False  False    False    False
4          943270        99999  1990      5  ...  False  False    False    False

[5 rows x 31 columns]

In [ ]:
df.sort_values('total_precipitation', ascending=False).head(10)[['station_number', 'year', 'month', 'day', 'total_precipitation']]

      station_number  year  month  day  total_precipitation
1687          592650  1995     10    3                 3.78
1530          984270  2001     12    7                 3.27
736           322170  1966     12   17                 3.03
811           375750  1965      4   17                 2.95
1428          298380  1964      7   17                 2.95
274           593580  1981      8   30                 2.32
764           475200  1982      9   12                 2.13
1089          913340  1977     11    1                 1.93
1475          488300  2005      4   27                 1.78
440           703980  1974     10    9                 1.77